.cub-dropdown {
    position: relative;
}

.cub-dropdown-control-wrapper {
    display: flex;
    align-items: center;
}

.cub-dropdown-control {
    cursor: pointer;
}

input.cub-dropdown-control:focus {
    outline: none;
}

.cub-dropdown-arrow {
    display: inline-block;
    transform: rotate(90deg);
    margin: 2px 0 0 8px;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}

.cub-dropdown.-opened .cub-dropdown-arrow {
    transform: rotate(90deg) scaleX(-1);
}

.cub-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.cub-dropdown-menu.-open {
    display: block;
}

.cub-dropdown-items {
    max-height: 300px;
    overflow: auto;
}

.cub-dropdown-item {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}