.cub-dropdown {
    position: relative;
}

.cub-dropdown-control-wrapper {
    display: flex;
    align-items: center;
}

.cub-dropdown:not(.-opened) .cub-dropdown-control:not(:disabled) {
    cursor: pointer;
}

input.cub-dropdown-control:focus {
    outline: none;
}

.cub-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 100%;
    background-color: #fff;
}

.cub-dropdown-menu.-empty {
    white-space: nowrap;
}

.cub-dropdown-menu.-open {
    display: block;
}

.cub-dropdown-items {
    max-height: 300px;
    overflow: auto;
}

.cub-dropdown-item {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}